@model SampleStore.WebUI.Models.IndexPageModel

@{
    ViewBag.Title = "Index";
}

<h2>Список товаров:</h2>

@foreach (var p in Model.Products)
{
    <b>@p.Name -</b><blockquote>@p.Description</blockquote><br />
   
    <div>Стоимость @p.Price.ToString("c")</div>
    
    <hr />
}

<h1>Пользователи</h1>

@foreach (var p in Model.Users)
{
    <b>@p.Name -</b>
    <blockquote>@p.Permission.ToString()</blockquote><br />


    <hr />
}